.banner {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 10%;
  background: #f8f9fa;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}

.banner.hidden {
  transform: translateY(100%);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.suggestions, .errors {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.chip {
  background: #87e78c89;
  color: rgb(4, 70, 35);
  border-radius: 16px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.chip .close-chip {
  background: none;
  border: none;
  color: black;
  margin-left: 10px;
  cursor: pointer;
}

.error-chip {
  background: #f8d7da;
  color: #721c24;
}

.close-button {
  background: none;
  border: none;
  color: rgb(15, 14, 14);
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
  .banner {
    height: auto;
    flex-direction: row;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .suggestions, .errors {
    width: auto;
  }

  .close-button {
    margin-right: 2%;
    margin-top: 0;
  }
}


